<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
    {% block titulo %}
        <title>Plantilla base</title>
    {% endblock %}
</head>
<body>
    <header>
        <h1>Plantilla base</h1>
        <img src="{{url_for('static',filename='img/logo.png')}}" alt="" width="100px" height="100px">
        {% include 'includes/barranav.html' %}

    </header>
    <section id="contenido">
         {% block contenido %}
         <h1>Plantilla base para Flask</h1>
         {% endblock %}
    </section>
</body>
</html>